html {
  background-color: black;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  height: 10%;
}

.cell {
  display: inline;
  height: 30px;
  width: 30px;
  border: 1px solid white;
}

.cell.active {
  background-color: white;
}

.gameover .cell {
  background-color: white;
}

.gameover .cell.active {
  background-color: black;
}
