:root {
  --white: white;
  --grey: #413f3f;
  --dark-grey: #272525;
  --white-border: whitesmoke;
  --light-red: #ee6464;
  --red: red;
  --orange: #fdc752;
  --magenta: #ffa9ff;
  --yellow: #ffff17;
  --light-blue: #64e5ee;
  --blue: #00dfff;
  --turquoise: #64eecc;
  --turqouise-shadow-inset: #00ffd3;
  --black: black;
}

html {
  background-color: var(--black);
  min-height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

body {
  overflow-x: clip;
}

.skew {
  transform: skew(355deg);
}

#app {
  display: flex;
  justify-content: center;
}

.grid-container {
  border: 4px solid var(--white);
  margin: 0 20px;
  border-top: none;
  box-shadow:
    0 0 6px -6px white,
    64px 52px 63px -37px var(--dark-grey),
    -64px 52px 63px -37px var(--dark-grey);
}

.buffer-container .cell:not(.active) {
  visibility: hidden;
}

.row {
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.row.clear {
  background-color: var(--white);
  box-shadow: 0 0 25px var(--white);
  transition: 0s;
}

.flash {
  animation: flasher 0.25s linear infinite;
}

@keyframes flasher {
  50% {
    opacity: 0;
  }
}

.cell {
  display: inline;
  height: 30px;
  width: 30px;
  border: 1px solid var(--grey);
  transition: 0.5s cubic-bezier(.06,.91,0,1);
  box-shadow:
    0 0 4px inset var(--grey),
    0 0 4px var(--grey);
  position: relative;
  background-color: rgba(255, 255, 255, 10%)
}

.light {
  background-color: transparent;
}

.cell .interior {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.active {
  z-index: 2;
  background-color: var(--white);
  border: 1px solid var(--white-border);
  box-shadow: 0 0 20px var(--white);
  transition: 0s;
}

.ghost:not(.active) {
  box-shadow: none;
  border: 1px solid white;
  box-shadow: 0 0 8px inset var(--white);
}

.debug {
  z-index: 1;
  background-color: var(--light-red);
  border: 1px solid var(--light-red);
  box-shadow: 0 0 28px var(--red), 0 0 19px inset var(--red);
}

.red {
  z-index: 1;
  background-color: var(--light-red);
  border: 1px solid var(--light-red);
  box-shadow: 0 0 28px var(--red), 0 0 19px inset var(--red);
}

.turquoise {
  background-color: var(--light-blue);
  border: 1px solid var(--turquoise);
  box-shadow: 0 0 28px var(--blue), 0 0 19px inset var(--turqouise-shadow-inset);
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  box-shadow: 0 0 28px var(--yellow), 0 0 19px inset var(--yellow);
}

.magenta {
  background-color: var(--magenta);
  border: 1px solid var(--magenta);
  box-shadow: 0 0 28px var(--magenta), 0 0 19px inset var(--magenta);
}

.orange {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  box-shadow: 0 0 28px var(--orange), 0 0 19px inset var(--orange);
}

.gameover .cell {
  background-color: var(--white);
}

.gameover .cell.active {
  background-color: var(--black);
}
